@charset "utf-8";

body {
  margin: 0 0 0px 0;
  background: #ccc;
}

@font-face {
  font-family: 'Roboto Mono';
  src: font-url('RobotoMono-Light.eot?#iefix') format('embedded-opentype'),  
       font-url('RobotoMono-Light.woff') format('woff'), 
       font-url('RobotoMono-Light.ttf')  format('truetype'), 
       font-url('RobotoMono-Light.svg#RobotoMono-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: font-url('RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),  
       font-url('RobotoMono-Bold.woff') format('woff'), 
       font-url('RobotoMono-Bold.ttf')  format('truetype'), 
       font-url('RobotoMono-Bold.svg#RobotoMono-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

