@charset "utf-8";

body {
  background: #fff;
  width: 768px;
  margin: 0 auto;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #333;
}

.fb-like iframe {
  margin-top: -4px;
}

@media (max-width: 767px) {
  body {
    width: 100%;
  }
  h1, h2, h3, p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 500px) {
  div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Mono:300,700);
