<!DOCTYPE HTML>
<html>
<head>
  <%= favicon_tag 'images/favicon.ico' %>
  <meta charset="UTF-8" />
  <title>zero</title>
  <%= stylesheet_link_tag "normalize", "all" %>
</head>
<body>
<%= javascript_include_tag 'all' %>
</body>
</html>
