<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset='utf-8'>
  <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <title>zero</title>
  <meta content='a mathematical puzzle game' name='description'>
  <%= stylesheet_link_tag "normalize", "all" %>
  <%= favicon_tag 'images/favicon.ico' %>
</head>
<body>
<%= javascript_include_tag 'all' %>
</body>
</html>
