<!DOCTYPE HTML>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <title>zero</title>
  <meta content='a simple mathematical puzzle game' name='description'>
  <meta content='zero' property='og:title'>
  <meta content='a simple mathematical puzzle game' property='og:description'>
  <meta content='website' property='og:type'>
  <meta content='http://zero.karaniwan.org/' property='og:url'>
  <meta content='<%= image_url("opengraph.png") %>' property='og:image'>
  <meta property="og:image:width" content="245" />
  <meta property="og:image:height" content="245" />
  <%= stylesheet_link_tag "normalize", "all" %>
  <%= favicon_tag 'images/favicon.ico' %>
</head>
<body>
<%= javascript_include_tag 'all' %>

<% if build? %>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.bryanbibat.net/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 12]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//analytics.bryanbibat.net/piwik.php?idsite=12" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
<% end %>
</body>
</html>
