<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset='utf-8'>
  <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <title>zero</title>
  <meta property="fb:app_id" content="944062788970440" />
  <meta content='a mathematical puzzle game' name='description'>
  <meta content='zero' property='og:title'>
  <meta content='a mathematical puzzle game' property='og:description'>
  <meta content='website' property='og:type'>
  <meta content='http://zero.karaniwan.org/' property='og:url'>
  <meta content='http://zero.karaniwan.org<%= image_path("opengraph.png") %>' property='og:image'>
  <meta property="og:image:width" content="245" />
  <meta property="og:image:height" content="245" />
  <%= stylesheet_link_tag "normalize", "main" %>
  <%= favicon_tag 'images/favicon.ico' %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=944062788970440";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <h1>zero - a mathematical puzzle game</h1>

  <p><a href="/full">For mobile users and those who want to figure things out by themselves, please go here for the game-only version.</a></p>
  <div id="game-container"></div>

  <h2>Longer Explanation of the Rules</h2>

  <p><em>By popular demand, here's the mechanics explained.</em></p>

  <p>Click/tap numbers to connect them to a chain. You can only connect numbers that are at the left, right, top, bottom of the last selected number. As a faster alternative, you can also drag/swipe through the numbers.</p>

  <p>When the sum of the chain ends in zero (e.g. 40, 130) you get rewards and side effects depending on whether the chain's length is composite or prime.<p>

  <ul>
    <li>if it's <em>Composite</em> (e.g. chain length is 4, 6, or 8 digits long), you gain 2 seconds on your time for each digit connected. However, each digit also gives you a 1 in 4 chance of replacing a digit in the grid with a <strong>blocker</strong>, a black cell that cannot be selected and added to the chain.</li>
    <li>if it's <em>Prime</em> (e.g. 2, 3, 5), you only gain 0.5 seconds for each digit, but instead of spawning blockers, each digit now has a 1 in 5 chance of removing a blocker in the grid.</li>
  </ul>

  <p>Either way, the point value of the chain is <code>5 x (sum / 10)<sup>3</sup></code>. Some examples:</p>

  <ul>
    <li><code>1-2-3-4</code> - gives you 5 points (10 / 10 = 1, 5 x 1<sup>3</sup> = 5) and 8 extra seconds but has 4 chances of spawning blockers. </li>
    <li><code>9-3-8</code> - gives you 40 points (20 / 10 = 2, 5 x 2<sup>3</sup> = 40), 1.5 extra seconds, and 3 chances to clear blockers.</li>
  </ul>

  <p>Game ends when the time runs out. The goal is 1 million points, but the game will not stop you from playing when you reach that point.</p>

  <p>My personal best for a million is around 45 minutes.</p>

  <h2>Basic Tips</h2>

  <p>Random clicking is an important part of the gameplay. Use whenever you need a lot of time.
  
  <p>The points you get from random clicking is (on the average) nowhere near what you get from carefully extending your chain so the former should not be your only strategy if you're going for good million times.</p>

  <p>Dragging the chain is faster than clicking for both extending the chain and backtracking.</p>

  <p>There are only a few combinations for 2 and 3 length chains. Remembering them will allow you to clear a few blockers without spending too much time.</p>

  <p>The expected score for a full 64-length chain on a grid with even distribution of numbers from 1-9 only gives 163,840 points. Raising the average by even a small value can significantly increase that score.</p>

  <h2>Planned features</h2>

  <ul>
    <li><strike><strong>Clear Selection button</strong> - to save time in backtracking a long dead-end chain</strike> - <em>done!</em></li>
    <li><strong>Pause button</strong> - the current timer is real time (i.e. it doesn't pause even if you move away from the browser) so you can't leave the game board like in other puzzle games</li>
    <li><strong>Keyboard controls</strong> - for people who have sworn off the mouse. (vim-ers? xmonad-ers? LOL)</li>
  </ul>

  <h2>Credits</h2>

  <p><code>zero</code> &copy; 2015 <a href="http://bryanbibat.net">Bryan Bibat</a></p>

  <p>The game uses <a href="http://phaser.io">Phaser</a> v2.4.0-rc1.</p>

  <p>Initial playtesting and player input by the #gaming Slack channel of the <a href="https://www.facebook.com/groups/phackers/">Phillippine Tech Hackers</a> community. Additional input from /r/WebGames and Hacker News.</p>

  <h3>Obligatory Social Buttons</h3>
  
  <p><div class="fb-like" data-href="https://zero.karaniwan.org/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div></p>

  <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://zero.karaniwan.org" data-text="Looking for a distraction? Try out &quot;zero&quot;, a simple mathematical puzzle game." data-via="bry_bibat">Tweet</a></p>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <p><a class="tumblr-share-button" data-color="blue" data-notes="right" href="https://embed.tumblr.com/share"></a></p>
  <script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://secure.assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script>

  <p><a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a></p>
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <g:plusone></g:plusone>

  <%= javascript_include_tag 'main' %>
<% if build? %>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.bryanbibat.net/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 12]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//analytics.bryanbibat.net/piwik.php?idsite=12" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
<% end %>
</body>
</html>
