<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset='utf-8'>
  <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <title>zero</title>
  <meta content='a mathematical puzzle game' name='description'>
  <%= stylesheet_link_tag "normalize", "all" %>
  <%= favicon_tag 'images/favicon.ico' %>
</head>
<body>
<script src="cordova.js"></script>
<script>
var bannerAdUnit = "ca-app-pub-0384913034470234/8202511677";
var adUnitFullScreen = "ca-app-pub-0384913034470234/9679244871";
var isOverlap = true;
document.addEventListener("deviceready", function(){
    window.admob.setUp(adUnit, adUnitFullScreen, isOverlap, false);
}, false);
</script>
<%= javascript_include_tag 'all' %>
</body>
</html>
